<h1>decision</h1>
    <div class="flash">
        <% @params.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= key %> rating is <%= value %></div>
        <% end %>
    </div>