<div class='container'>
    <h1>decision</h1>
    <div class="flash">
        <h3> pumps sorted by technical preference "best First" :</h3>
        <div >
            <% @params.each do |pump, properties| %>
                <%= pump %> <br/>
            <% end %>
        </div>

        
    </div>
</div>